@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    background-color: grey;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header > h1 {
    font-family: "Passion One", sans-serif;
    font-size: 3em;
    padding: 10px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: "Sriracha", cursive;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    font-weight: bolder;
    background-color: white;
    color: black;
}

section.imagem1 {
    background-attachment: fixed;
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

section.imagem2 {
    
    background-attachment: fixed;
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}



section.imagem1 > p {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.644);
    width: 300px;
}

section.imagem2 > p {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.575);
    width: 300px;
}

footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: black;
}

.link01 {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.link02 {
    color: white;
    text-decoration: none;
}

