body {
    font-family: Arial, Helvetica, sans-serif;

}

table {
    width: 500px;
    border-collapse: collapse;
}

caption {
    font-size: 2em;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

thead {
    background-color: rgb(94, 94, 94);
    color: white;
}

tbody > tr:nth-child(2n) {
    background-color: grey;
}

tfoot {
    background-color: rgb(94, 94, 94);
    color: white;
}



td.num {
    text-align: right;
    width: 100px;
}

